.titleJourneys {
  display: grid;
  grid-template-columns: 40% 20% 17% 23%;
  align-items: center;
  color: #9196AB;
}
.titleJourneys .titleJourneyName {
  margin-left: 20px;
}

.titleJourneys .titleJourneyInfo {
  margin: 0 auto;
}

.listJourneys {
  width: 100%;
  max-width: 680px;
  margin-top: 8%;
  font-size: 13px;
}

.listJourneys .journeys {
  display: grid;
  grid-template-columns: 40% 20% 17% 23%;
  margin-top: 3%;
  background-color: white;
}

.listJourneys .journeys {
  color: #3E4157;
  padding: 0.5rem;
}

.listJourneys .journeys .nameJourney {
  padding-left: 10px;
  font-family: 'Gotham-Bold';
  white-space: nowrap;
}

.listJourneys .journeys .infoJourney {
  margin: 0 auto;
  
}
.listJourneys .journeys .statusJourney {
  display: flex;
  margin-left: 30px;
}

.listJourneys .journeys .statusJourney img {
  width: 14px;
  padding-right: 0.5rem;
}
