
.listJourneys {
  width: 65%;
  margin-top: 8%;
  font-size: 1.6rem;
}

.listJourneys .journeys {
  display: grid;
  grid-template-columns: 40% 20% 17% 23%;
  margin-top: 4%;
  background-color: white;
}

.listJourneys .journeys {
  color: #3E4157;
  padding: 0.5rem;
}

.listJourneys .journeys .nameJourney {
  padding-left: 1rem;
  font-family: 'Gotham-Bold';
  white-space: nowrap;
}

.listJourneys .journeys .infoJourney {
  margin: 0 auto;
  
}
.listJourneys .journeys .statusJourney {
  display: flex;
  justify-content: right;
}

.listJourneys .journeys .statusJourney img {
  width: 2rem;
  padding-right: 0.5rem;
}
