
.modal {
  display: flex;
  width: 40%;
  height: 25%;
  margin: 0 auto;
  margin-top: 15%;
  background-color: white;
  border-radius: 0.8rem;
  border: #E4E6F1 solid 0.1rem;
}

.modal:focus {
  border: #E4E6F1 solid 0.1rem;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.modal .containerModal {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #9196AB;
  margin: 0 auto;
}
.modal .containerModal h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Gotham-Bold';
} 

.modal .containerModal .components {
  margin-top: 5%;
  margin-bottom: 5%;
}

.modal .containerModal .components p {
  font-size: 1.5rem;
}

.modal .containerModal .components input {
  width: 100%;  
  height: 2.8rem;
  border: #E4E6F1 solid 0.1rem;
  border-radius: 0.5rem;
  color: #696969;
}

.modal .containerModal .components input:focus {
  box-shadow: 0 0 0 0;
  border: #E4E6F1 solid 0.1rem;
} 

.modal .containerModal .buttons {
  margin: 0 auto;
}

.modal .containerModal .buttons button {
  border: 0;
  background-color: white;
  cursor: pointer;
  font-family: 'Gotham-Bold';
}

.modal .containerModal .buttons button:first-child {
  color: #117EFF;
  padding-right: 2rem;
}

.modal .containerModal .buttons button + button {
  color: #9196AB;
}

.navBar {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 5%;
}

.navBar .logoNav {
  margin-top: 2%;
  color: white;
  border: solid 1px #CCCFDE;
  width: 50%;
  height: 30%;
  padding: 0.5rem;
  padding-right: 0;
  margin-left: 20%;
}
.navBar .groupLogoName {
  width: 12%;
  display: flex;
  align-items: center;
}

.tooltip {
  background-color: #117EFF;
  color: white;
  border-radius: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #1A1731;
}

.tooltip .tooltiptext {
  font-size: 1.5rem;
  visibility: hidden;
  width: 120px;
  background-color: #1A1731;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: -8%;
  left: 50%;
  margin-left: 17px;
  opacity: 0;
  transition: opacity 0.5s;
}


.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.navBar .logoNav img {
  width: 90%;
}

.navBar .buttonInput {
  display: flex;
  margin-top: 2%;
}

.navBar .buttonInput .input {
  display: flex;
  height: 30%;
  border-radius: 0.5rem;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  margin-right: 5%;
  background-color: white;
  border: solid 1px #CCCFDE;
  cursor: pointer;
}

.navBar .buttonInput .input:hover  {
  box-shadow: 0px 0px 8px 0.2px #696969;
}

.navBar .buttonInput .input input {
  border: 0;
  height: 2rem;
  padding-left: 0.5rem;
}

.navBar button {
  border: 0;
  color: white;
  background-color: #117EFF;
  line-break: keep-all;
  padding: 0.5rem;
  height: 80%;
  white-space: nowrap;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Gotham-Bold';
}

.navBar button:hover {
  background-image: linear-gradient( to right, #14E9F0, #117EFF );
}

.lateralMenu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 5%;
  position: fixed;
  background-color: #1A1731;
}

.lateralMenu .logotipo img{
  width: 80%;
  padding: 1rem;
  padding-top: 2rem;
}

.containerImages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerImages:first-child {
  margin-top: 100%;
}
.containerImages + .containerImages {
  margin-top: auto;
  margin-bottom:100%;
}

.groupImagesLeft {
  width: 3.5rem;
  margin: 0 auto;
  fill: white;
  padding-top: 15%;
  transition: 0.3s;
}

.groupImagesLeft:hover {
  fill: #117EFF;
}

.lateralTooltip {
  color: #696969;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
}

.lateralTooltip .lateralTooltiptext {
  font-size: 1.5rem;
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #696969;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 72%;
  margin-left: 17px;
  opacity: 0;
  transition: opacity 0.5s;
}


.lateralTooltip .lateralTooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; 
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.lateralTooltip:hover .lateralTooltiptext {
  visibility: visible;
  opacity: 1;
}


.container {
  width: 80%;
  margin: 0 auto;
}
.containerList{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.titleJourneys {
  display: grid;
  grid-template-columns: 40% 20% 17% 23%;
  align-items: center;
  color: #9196AB;
}
.titleJourneys .titleJourneyName {
  margin-left: 1.8rem;
}

.titleJourneys .titleJourneyInfo {
  margin: 0 auto;
}
.listFilter {
  margin-top: 8%;
  width: 18%;
}

.listFilter h1 {
  font-family: 'Gotham-Bold';
  color: #3E4157;
}

.listFilter ul {
  margin-top: 10%;
}

.listFilter ul li {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.listFilter ul li p {
  font-size: 1.6rem;
}

.listFilter ul li .iconName img {
  width: 1.6rem;
}

.listFilter ul li .iconName {
  display: flex;
}

.listFilter ul li .iconName p {
  padding-left: 0.8rem;
  transition: 0.5s;
}

.listFilter ul li .iconName p:hover {
  color: #117EFF;
  cursor: pointer;
}

.contFilter {
  background-color: #E4E6F1;
  color: #9196AB;
  border-radius: 50%;
  width: 0.8rem;
  padding: 0.4rem;
}

@media(min-width: 1000px) {
  .navBar .logoNav {
    width: 60%;
  }
}