.listFilter {
  margin-top: 8%;
  width: 18%;
}

.listFilter ul {
  margin-top: 10%;
}

.listFilter ul li {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.listFilter ul li p {
  font-size: 1.5rem;
}

.listFilter ul li .iconName img {
  width: 1.6rem;
}

.listFilter ul li .iconName {
  display: flex;
}

.listFilter ul li .iconName p {
  padding-left: 1rem;
  transition: 0.5s;
}

.listFilter ul li .iconName p:hover {
  color: #117EFF;
  cursor: pointer;
}

.contFilter {
  background-color: #E4E6F1;
  color: #9196AB;
  border-radius: 5rem;
  padding: 0.2rem;
}